---
layout: default_ini
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        <span class="subheading">19.06.2022</span>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--
<table width="90%" cellspacing="0" cellpadding="20" border="0" align="center">
<colgroup>
<col width="50%">
<col width="50%">
</colgroup>
<tr>
<td>
<a href="../index_ger"><img src="../img/germany.jpg" width="50%" align="center"></a>
</td>
<td>
<a href="../index_rom"><img src="../img/roman.jpg" width="50%" align="center"></a>
</td>
</tr>
</table>
-->
    <div style="display: flex; margin: auto;">
        <a href="../index_ger"><img src="../img/germany.jpg" width="50%" align="center"></a>
        <a href="../index_rom"><img src="../img/roman.jpg" width="50%" align="center"></a>
    </div>









