---
layout: default_ini
---


<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
              
            <div class="half" style="display: flex">
                <div>
                    <a href="{{"/home_german" | relative_url }}"> <img src="../img/germany.jpg" style="width: 50%;"> </a>
                </div>
                <div>
                    <a href="{{"/home_roman" | relative_url }}"> <img src="../img/roman.jpg" style="width: 50%;"> </a>
                </div>
            </div>

              
          </div>
        </div>
      </div>
    </div>
  </header>